body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#header, .designedIn {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  color: white;
  font-size: 18px;
}

#copyright {
    color: white;
    font-size: 11px;
}

#footer {
  text-align: left;
  background-color: dimgray
}

#nav2 li {
  display: inline;
}
